<div class="container">
	<div class="nav-bar">
		<span>🠜</span>
		<span class="nav-btn" (click)="backToCategory()">Back to Category</span>
	</div>
	<div class="box-container">
		<span class="heading">Add Category</span>
		<form [formGroup]="addCategoryForm">
			<div class="input-text">
				<app-input-text type="text" label="Category Name" formControlName="name" placeholde="Name"
					[feedbackMessage]="categoryNameFeedbackMessage" />
			</div>
			<div class="input-text">
				<app-input-dropdown label="Parent" formControlName="parent" [options]="categoryOptions" />
			</div>
			<app-input-button class="save-btn" type="primary" label="Save" (click)="onSaveClick()" />
		</form>
	</div>
</div>