<div class="container">
	<span class="label">{{label}}</span>
	<textarea class="input" [value]="value" [placeholder]="placeholder" [rows]="rows" [cols]="cols"
		(input)="onInput($event)"></textarea>
</div>