<div class="container">
	<div class="logo-container">
		<span class="logo">Ecommerce</span>
	</div>
	<div class="name-container" *ngIf="user.name">
		<span class="username">{{user.name}}</span>
		<span class="logout-btn" (click)="onLogoutClicked()">Logout</span>
	</div>
</div>