@import '../../../../styles.scss';

.container {
	width: 100%;
	height: 60px;
	background-color: $header-color;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	margin-left: -10px;

	&>.logo-container {
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&>.logo {

			font-style: normal;
			font-weight: bold;
			font-family: $heading-text-style;
			font-size: 25px;
			line-height: 28px;
			color: $color-white;
		}
	}

	&>.name-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 20px;
		justify-content: center;

		&>.username {
			font-style: normal;
			font-family: $heading-text-style;
			font-size: 16px;
			line-height: 20px;
			margin-top: 10px;
			color: $color-white;
		}

		&>.logout-btn {
			font-style: normal;
			font-weight: bold;
			font-family: $heading-text-style;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 6px;
			color: $color-white;
			cursor: pointer;
		}
	}

}