<div class="container">
	<span class="label">{{label}}</span>
	<select class="input-container" [ngModel]="selectedValue" (ngModelChange)="selectValue($event)">
		<option class="option" *ngFor="let option of options" [value]="option.value">{{ option.name }}</option>
	</select>
</div>