@import '../../../../styles.scss';

.container {
	display: flex;
	flex-direction: column;

	&>.label {
		font-size: $label-font-size;
		font-family: $label-text-style;
	}

	&>.input-container {
		border-style: solid;
		border-width: 2px;
		margin-top: 4px;
		border-radius: 4px;
		padding: 6px;
		border-color: black;
		display: flex;
		flex-direction: row;
		background-color: white;

	}
}