<div class="container">
	<div class="nav-bar">
		<span>🠜</span>
		<span class="nav-btn" (click)="backToDashboard()">Back to Dashboard</span>
	</div>
	<div class="box-container">
		<div class="button-container">
			<app-input-button class="add-btn" type="accent" label="Add" (click)="addProduct()" />
		</div>
		<div class="product-container" *ngFor="let product of products">
			<div class="product-details">
				<span class="product-heading">{{product.name}}</span>
				<span class="product-description">{{product.description}}</span>
			</div>
			<div class="btn-div">
				<app-input-button class="edit-btn" type="primary" label="Edit" (click)="editProduct(product.id)" />
				<app-input-button class="delete-btn" type="danger" label="Delete" (click)="deleteProduct(product.id)" />
			</div>
		</div>
	</div>
</div>

<app-custom-confirm-box [title]="'Delete Product'" [message]="'Are you sure you want to continue?'"
	[isVisible]="dialogVisible" (confirm)="onDeleteConfirmed($event)"></app-custom-confirm-box>