@import '../../../../styles.scss';

.container {
	align-items: center;
	flex-direction: column;
	margin-bottom: 130px;

	&>.nav-bar {
		margin-top: 70px;

		&>.nav-btn {
			font-style: normal;
			font-family: $heading-text-style;
			font-size: 15px;
			line-height: 20px;
			cursor: pointer;
		}
	}

	&>.box-container {
		box-sizing: border-box;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 50px;

		&>.button-container {
			display: flex;
			flex-direction: row;
			justify-content: start;

			&>.add-btn {
				margin-bottom: 10px;
				width: 100px
			}
		}

		&>.product-container {
			border-style: solid;
			border-left-width: 0px;
			border-right-width: 0px;
			border-bottom-width: 2px;
			border-color: white;
			background-color: $background-color;
			padding: 20px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&>.product-details {

				display: flex;
				flex-direction: column;

				&>.product-heading {
					font-style: normal;
					font-family: $heading-text-style;
					font-size: 16px;
					line-height: 20px;
				}

				&>.product-description {
					font-style: normal;
					font-family: $heading-text-style;
					font-size: 12px;
					line-height: 15px;
					margin-top: 5px;
				}
			}

			&>.btn-div {
				display: flex;
				flex-direction: row;

				&>.edit-btn {
					width: 80px;
				}

				&>.delete-btn {
					margin-left: 5px;
					width: 80px;
				}
			}

		}
	}
}