@import '../../../../styles.scss';

.dialg-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: $color-white;
	border: 1px solid #ccc;
	padding: 20px;

	&>.close-button-container {
		display: flex;
		justify-content: end;

		&>.close-btn {
			cursor: pointer;
			font-size: large;
		}
	}

	&>.dialog-message-container {
		padding-top: 5px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;

		&>.title {
			font-style: normal;
			font-weight: bold;
			font-family: $heading-text-style;
			font-size: 16px;
			line-height: 20px;
		}

		&>.message {
			font-style: normal;
			font-family: $heading-text-style;
			font-size: 16px;
			line-height: 20px;
			margin-top: 10px;
		}
	}

	&>.button-container {
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: center;

		&>.cancel-btn {
			font-style: normal;
			font-weight: bold;
			font-family: $heading-text-style;
			font-size: 16px;
			line-height: 20px;
			color: $color-grey;
			cursor: pointer;
		}

		&>.delete-btn {
			margin-left: 10px;
		}
	}
}