<div class="dialg-container" *ngIf="isVisible">
	<div class="close-button-container">
		<span class="close-btn" (click)="cancelClicked()">&#x2716;</span>
	</div>
	<div class="dialog-message-container">
		<span class="title">{{title}}</span>
		<span class="message">{{message}}</span>
	</div>
	<div class="button-container">
		<span class="cancel-btn" (click)="cancelClicked()">Cancel</span>
		<app-input-button class="delete-btn" type="danger" label="Delete" (click)="confirmClicked()" />
	</div>
</div>