<div class="container">
	<div class="nav-bar">
		<span>🠜</span>
		<span class="nav-btn" (click)="backToDashboard()">Back to Dashboard</span>
	</div>
	<div class="box-container">
		<div class="button-container">
			<app-input-button class="add-btn" type="accent" label="Add" (click)="addAttribute()" />
		</div>
		<div class="attribute-container" *ngFor="let attribute of attributes">
			<span class="attribute-heading">{{attribute.name}}</span>
			<div class="btn-div">
				<app-input-button class="edit-btn" type="primary" label="Edit" (click)="editAttribute(attribute.id)" />
				<app-input-button class="delete-btn" type="danger" label="Delete" (click)="deleteAttribute(attribute.id)" />
			</div>
		</div>
	</div>
</div>

<app-custom-confirm-box [title]="'Delete Attribute'" [message]="'Are you sure you want to continue?'"
	[isVisible]="dialogVisible" (confirm)="onDeleteConfirmed($event)"></app-custom-confirm-box>