@import '../../../../styles.scss';

.container {
	display: flex;
	align-items: center;
	margin-bottom: 130px;

	&>.box-container {
		box-sizing: border-box;
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 180px;
		margin-bottom: 100px;
		padding: 20px;
		border-style: solid;
		border-left-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 2px;
		border-color: white;
		background-color: $background-color;

		.input-text {
			margin-top: 15px;
			width: 100%;
		}

		.login-btn {
			margin-top: 20px;
			width: 100%;
			align-self: center;
		}
	}
}