<div class="container">
	<div class="box-container">
		<form [formGroup]="loginForm">
			<div class="input-text">
				<app-input-text type="text" label="Username" formControlName="username" placeholde="Username"
					[feedbackMessage]="userNameFeedBackMessage" />
			</div>
			<div class="input-text">
				<app-input-text type="password" label="Password" formControlName="password" placeholde="Password"
					[feedbackMessage]="passwordFeedBackMessage" />
			</div>
			<app-input-button class="login-btn" type="primary" label="Login" (click)="onLoginClick()" />
		</form>
	</div>
</div>