<div class="container">
	<div class="nav-bar">
		<span>🠜</span>
		<span class="nav-btn" (click)="backToAttribute()">Back to Attribute</span>
	</div>
	<div class="box-container">
		<span class="heading">Edit Attribute</span>
		<form [formGroup]="editAttributeForm">
			<div class="input-text">
				<app-input-text type="text" label="Id" formControlName="id" [disabled]="true" />
			</div>
			<div class="input-text">
				<app-input-text type="text" label="Attribute Name" formControlName="name" placeholde="Name"
					[feedbackMessage]="attributeNameFeedbackMessage" />
			</div>
			<div class="info">
				<span>Enter attribute values one at a time, click 'Save' after each entry, and press 'Finish' when
					you're done.</span>
			</div>
			<div class="input-text">
				<app-input-text type="text" label="Attribute Value" formControlName="values" placeholde="Values" />
			</div>
			<app-input-button class="save-btn" type="primary" label="Save" (click)="onEditClick()" />
			<div class="values-div">
				<div class="values" *ngFor="let value of this.attribute?.values; index as i">
					<td>{{value}}</td>
					<app-input-button class="delete-btn" type="danger" label="Delete" (click)="onDeleteClick(i)" />
				</div>
			</div>
			<app-input-button class="save-btn" type="accent" label="Finish" (click)="onFinishClick()" />
		</form>
	</div>
</div>
<app-custom-confirm-box [title]="'Delete Attribute Value'" [message]="'Are you sure you want to continue?'"
	[isVisible]="dialogVisible" (confirm)="onDeleteConfirmed($event)"></app-custom-confirm-box>