@import '../../../../../styles.scss';

.container {
	align-items: center;
	flex-direction: column;
	margin-bottom: 130px;

	&>.nav-bar {
		margin-top: 70px;

		&>.nav-btn {
			font-style: normal;
			font-family: $heading-text-style;
			font-size: 15px;
			line-height: 20px;
			cursor: pointer;
		}
	}

	&>.box-container {
		box-sizing: border-box;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 50px;
		background-color: $background-color;
		padding: 20px;

		&>.heading {
			font-size: $heading-font-size;
			font-family: $heading-text-style;
		}

		.info {
			font-style: normal;
			font-family: $heading-text-style;
			font-size: 16px;
			line-height: 20px;
			margin-top: 20px;
		}

		.input-text {
			margin-top: 15px;
			width: 50%;
		}

		.values-div {
			margin-top: 20px;

			.values {
				border-style: solid;
				border-left-width: 2px;
				border-right-width: 2px;
				border-top-width: 2px;
				border-bottom-width: 0px;
				border-color: $boarder-color;
				padding: 10px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				&>.delete-btn {
					width: 100px;
				}
			}

			div:last-child {
				border-bottom-width: 2px;
			}
		}

		.save-btn {
			margin-top: 15px;
		}
	}
}