@import '../../../../styles.scss';

.container {
	display: flex;
	align-items: center;
	margin-bottom: 130px;

	&>.box-container {
		box-sizing: border-box;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 100px;
		margin-bottom: 50px;

		.input-btn {
			margin-bottom: 10px;
			width: 100px;
		}
	}
}