<div class="container">
	<div class="box-container">
		<div *ngFor="let component of admincomponents">
			<app-input-button class="input-btn" type="accent" (click)="clickedButton(component.path)"
				[label]="component.name" />
		</div>
	</div>
</div>