<div class="container">
	<span class="label">{{label}}</span>
	<input class="input" [class.danger]="feedbackMessage" [type]="type" [placeholder]="placeholder" [value]="value"
		[disabled]="disabled" (input)="onInput($event)" />
	<span class="feedback">{{feedbackMessage}}</span>
</div>