@import '../../../../styles.scss';

.container {
	display: flex;
	flex-direction: column;

	&>.label {
		font-size: $label-font-size;
		font-family: $label-text-style;
	}

	&>.input {
		margin-top: 4px;
		border-radius: 4px;
		font-size: $button-font-size;
		font-family: $button-text-style;
		padding: 5px;

		&.danger {
			border-color: red;
		}
	}

	&>.feedback {
		margin-top: 2px;
		font-size: 10px;
		font-family: $label-text-style;
		color: $color-red;
	}
}