$color-blue: #0090D0;
$color-green: #29C686;
$color-grey: #8B97A3;
$color-red: #ED5454;
$color-white: #fff;
$background-color: #d4d9d6;
$boarder-color: #808080;
$footer-color: #808080;
$header-color: #808080;


$heading-text-style: Arial, Helvetica, sans-serif;
$label-text-style: 'Arial', sans-serif;
$button-text-style: 'Arial', sans-serif;

$heading-font-size: 25px;
$label-font-size: 17px;
$button-font-size: 15px;