@import '../../../../styles.scss';

:host {
	display: inline-block;
}

.btn {
	width: 100%;
	padding: 8px 8px;
	border: none;
	border-radius: 3px;
	font-size: $button-font-size;
	font-family: $button-text-style;
	cursor: pointer;
	color: $color-white;

	&.primary {
		background-color: $color-green;
	}

	&.accent {
		background-color: $color-blue;
	}

	&.danger {
		background-color: $color-red;
	}

}