@import '../../../../../styles.scss';

.container {
	align-items: center;
	flex-direction: column;
	margin-bottom: 130px;

	&>.nav-bar {
		margin-top: 70px;

		&>.nav-btn {
			font-style: normal;
			font-family: $heading-text-style;
			font-size: 15px;
			line-height: 20px;
			cursor: pointer;
		}
	}

	&>.box-container {
		box-sizing: border-box;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 50px;
		background-color: $background-color;
		padding: 20px;

		&>.heading {
			font-size: $heading-font-size;
			font-family: $heading-text-style;
		}

		.input-text {
			margin-top: 15px;
			width: 50%;
		}

		.save-btn {
			margin-top: 15px;
		}
	}
}