<div class="container">
	<div class="nav-bar">
		<span>🠜</span>
		<span class="nav-btn" (click)="backToAttribute()">Back to Attribute</span>
	</div>
	<div class="box-container">
		<span class="heading">Add Attribute</span>
		<form [formGroup]="addAttributeForm">
			<div class="input-text">
				<app-input-text type="text" label="Attribute Name" formControlName="name" placeholde="Name"
					[feedbackMessage]="attributeNameFeedbackMessage" />
			</div>
			<app-input-button class="save-btn" type="primary" label="Save" (click)="onSaveClick()" />
		</form>
	</div>
</div>