<div class="container">
	<div class="nav-bar">
		<span>🠜</span>
		<span class="nav-btn" (click)="backToCategory()">Back to Category</span>
	</div>
	<div class="box-container">
		<span class="heading">Edit Category</span>
		<form [formGroup]="editCategoryForm">
			<div class="input-text">
				<app-input-text type="text" label="Id" formControlName="id" [disabled]="true" />
			</div>
			<div class="input-text">
				<app-input-text type="text" label="Category Name" formControlName="name" placeholde="Name"
					[feedbackMessage]="categoryNameFeedbackMessage" />
			</div>
			<div class="input-text">
				<app-input-dropdown label="Parent" [options]="dropdownOptions" formControlName="parent"
					(valueSelected)="editCategoryForm.get('parent')?.setValue($event)"></app-input-dropdown>
			</div>
			<app-input-button class="save-btn" type="primary" label="Save" (click)="onEditClick()" />
		</form>
	</div>
</div>