@import '../../../../styles.scss';

.container {
	background-color: $footer-color;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-left: -10px;

	&>.all-right {}
}