<div class="container">
	<div class="nav-bar">
		<span>🠜</span>
		<span class="nav-btn" (click)="backToDashboard()">Back to Dashboard</span>
	</div>
	<div class="box-container">
		<div class="button-container">
			<app-input-button class="add-btn" type="accent" label="Add" (click)="addCategory()" />
		</div>
		<div class="category-container" *ngFor="let category of categories">
			<span class="category-heading">{{category.name}}</span>
			<div class="btn-div">
				<app-input-button class="edit-btn" type="primary" label="Edit" (click)="editCategory(category.id)" />
				<app-input-button class="delete-btn" type="danger" label="Delete" (click)="deleteCategory(category.id)" />
			</div>
		</div>
	</div>
</div>

<app-custom-confirm-box [title]="'Delete Category'" [message]="'Are you sure you want to continue?'"
	[isVisible]="dialogVisible" (confirm)="onDeleteConfirmed($event)"></app-custom-confirm-box>