<div class="container">
	<div class="nav-bar">
		<span>🠜</span>
		<span class="nav-btn" (click)="backToProduct()">Back to Product</span>
	</div>
	<div class="box-container">
		<span class="heading">Edit Product</span>
		<form [formGroup]="editProductForm">
			<div class="input-text">
				<app-input-text type="text" label="Id" formControlName="id" [disabled]="true" />
			</div>
			<div class="input-text">
				<app-input-text type="text" label="Product Name" formControlName="name" placeholde="Name"
					[feedbackMessage]="productNameFeedbackMessage" />
			</div>
			<div class="input-text">
				<app-input-textarea label="Description" formControlName="description" placeholder="Description" [rows]="6"
					[cols]="60" />
			</div>
			<div class="input-text">
				<app-input-dropdown label="Category" formControlName="categoryId" [options]="categoryOptions" />
			</div>
			<div class="input-text">
				<app-input-dropdown label="Attributes" formControlName="attributes" [options]="attributeOptions" />
			</div>
			<app-input-button class="save-btn" type="primary" label="Save" (click)="onEditClick()" />
		</form>
	</div>
</div>